- @page_title = "#{t('mailer_title')} - #{default_page_title}"
.outset
  #grey
    #filtering
      = render :partial => "filters"
      = render :partial => "export"
  #results
    %table.results.index
      %thead
        %tr
          %th.created_at= sortable_column_head t('mailer.created_at'), :created_at
          %th.url= sortable_column_head "URL", :url
          - each_data_column do |k|
            %th= sortable_column_head k.to_s.capitalize, k
          %th.exported= sortable_column_head t('mailer.exported'), :exported
          %th.actions= t('modify')
      %tbody
        - @saved_items.each do |si|
          %tr
            %td.created_at= link_to date_format(si.created_at), admin_form_data_path(si)
            %td.url= link_to si.url, "#{si.url}?token=#{si.token}"
            = data_columns.map { |k| "<td>#{si.send(k)}</td>" }.join
            %td.exported= si.exported ? date_format(si.exported) : '-'
            %td.remove
              = link_to t('remove'), admin_form_data_path(si.id), :method => :delete, :confirm => t('mailer.destroy')
        - if @saved_items.empty?
          %tr
            %td{:colspan => data_columns.size + 4}= t('mailer.no_results')

#actions
  .pagination
    = will_paginate @saved_items, :inner_window => 1, :outer_window => 1
